
<!--  start paging..................................................... -->
<?php
$model = ucfirst(Inflector::singularize($this->request->params['controller']));
/* if(($this->request->params['controller'])=='users' && $this->request->params['action']='user_product' )
  {
  $model = 'Product'
  } */
if ($this->request->params['paging'][$model]['count'] > Configure::read('ADMIN_PAGINATION')) {?>
		<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                        <tr>
                        <td>
                            <?php 
                           echo $this->Paginator->first('', array('tag'=>false,'class' => 'page-far-left'));
                            echo $this->Paginator->prev('', array('tag'=>false,'class' => 'page-left'));
                            ?>
                            <div id="page-info"><?php echo $this->Paginator->numbers();?></div>
                            <?php echo $this->Paginator->next('', array('tag'=>false,'class' => 'page-right'));
                            echo $this->Paginator->last('', array('tag'=>false,'class' => 'page-far-right'));?>         
                        </td>
                        <td>
                       
                        </td>
                        </tr>
                        </table>
<?php }?>
<!--  end paging................ -->
<?php 
    /*echo $this->Paginator->prev(' << ' . __('Previous'), array(), null, array('class' => 'prev disabled'));
    echo $this->Paginator->numbers();
    echo $this->Paginator->next(' >> ' . __('Next'), array(), null, array('class' => 'prev disabled'));
     * 
     */

?>