<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">
    
    	<ul class="footer_menu">
            <li><a href="#">Home</a></li>
            <li><a href="http://www.templatemo.com/page/1" target="_parent">CSS Templates</a></li>
            <li><a href="http://www.flashmo.com/page/1" target="_parent">Flash Resources</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Company</a></li>
            <li class="last_menu">
			<?php echo $this->Html->link('Contact',array('controller'=>'users','action'=>'contact')); ?></li>
        </ul>
        Copyright © 2048 <a href="#">Your Company Name</a> | 
        <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Template</a></div> 
	<!-- end of footer -->

</div> <!-- e