<div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current"><span>.01</span>Home</a></li>
            <li><a href="http://www.templatemo.com/page/1" target="_parent"><span>.02</span>Templates</a></li>
            <li><a href="http://www.flashmo.com/page/1" target="_parent"><span>.03</span>Flash</a></li>
            <li><a href="http://www.koflash.com" target="_parent"><span>.04</span>Gallery</a></li>
            <li><a href="#"><span>.05</span>Company</a></li>
            <li><a href="#"><span>.06</span>Contact</a></li>
        </ul>    	
    </div> <!-- end of templatemo_menu -->
	
	   <div id="templatemo_header_bar">
    
            <div id="header"><div class="right"></div>
            
                <h1><a href="http://www.templatemo.com" target="_parent">
                    
					<?php echo $this->Html->image('templatemo_logo.png');?>
                    <span>Online Store Template</span>
                </a></h1>
      </div>
            
            <div id="search_box">
                <form action="#" method="get">
                    <input type="text" value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                    <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" />
                </form>
            </div>
    
    </div> <!-- end of templatemo_header_bar -->
    
    <div class="cleaner"></div>