<div class="content_section">
        
        	<h2>Our Products</h2>
                    
                    <div class="product_box margin_r35">
                    
	                    <h3>Phasellus eget lorem</h3>
    
                      <div class="image_wrapper">
					  <a href="javascript:void(0);"><img alt="" src="/cakephp/img/image_02.jpg"></a>					    </div>
                        
                      <p class="price">Price: $350</p>
                        <a href="#">Detail</a> | <a href="#">Buy Now</a>
    
                    </div>
                    
                    <div class="product_box margin_r35">
                        <h3>Nunc condimentum</h3>
    
                      <div class="image_wrapper"> <a href="javascript:void(0);"><img alt="" src="/cakephp/img/image_03.jpg"></a>  </div>
                                                
                      <p class="price">Price: $550</p>
                        <a href="#">Detail</a> | <a href="#">Buy Now</a>
                    </div>
                    
                    <div class="product_box">
                        <h3>Sed sit amet sem</h3>
    
                      <div class="image_wrapper"> <a href="javascript:void(0);"><img alt="" src="/cakephp/img/image_04.jpg"></a></div>
                        
                      <p class="price">Price: $250</p>
                        <a href="#">Detail</a> | <a href="#">Buy Now</a>
                    </div>
                    
                    <div class="cleaner"></div>
                    
                    <div class="product_box margin_r35">
                        <h3>Etiam vitae consequat</h3>
    
                      <div class="image_wrapper"> <a href="javascript:void(0);"><img alt="" src="/cakephp/img/image_05.jpg"></a></div>
                        
                      <p class="price">Price: $850</p>
                        <a href="#">Detail</a> | <a href="#">Buy Now</a>
                    </div>
                    
                    <div class="product_box margin_r35">
                        <h3> Vivamus at justo</h3>
    
                      <div class="image_wrapper"> <a href="javascript:void(0);"><img alt="" src="/cakephp/img/image_06.jpg"></a> </div>
                        
                      <p class="price">Price: $450</p>
                        <a href="#">Detail</a> | <a href="#">Buy Now</a>
                    </div>
                    
                    <div class="product_box">
                        <h3> Vivamus at justo</h3>
    
                      <div class="image_wrapper"> <a href="javascript:void(0);"><img alt="" src="/cakephp/img/image_07.jpg"></a> </div>
                        
                      <p class="price">Price: $350</p>
                        <a href="#">Detail</a> | <a href="#">Buy Now</a>
                    </div>
                    
                    <div class="cleaner"></div>
                    
                    <div class="button_01"><a href="#">View All</a></div>
        
        </div>