<div id="latest_product_gallery">
        <?php //pr($product);die;?>
        	<h2>Featured Products</h2>
    
	    	<div id="SlideItMoo_outer">	
                <div id="SlideItMoo_inner">			
                    <div id="SlideItMoo_items">
                        <div class="SlideItMoo_element">
						
                        <?php echo $this->Html->image('PRODUCT/' . $produc1['Product']['product_image']); ?>
                        </div>	
                        <div class="SlideItMoo_element">
						<?php echo $this->Html->link($this->Html->image('templatemo_product_02.png'),'javascript:void(0)',array('escape'=>false)); ?>
                                
                        </div>
                        <div class="SlideItMoo_element">
							<?php echo $this->Html->link($this->Html->image('templatemo_product_04.png'),'javascript:void(0)',array('escape'=>false)); ?>
                                
                        </div>
                        <div class="SlideItMoo_element">
                                <?php echo $this->Html->link($this->Html->image('templatemo_product_05.png'),'javascript:void(0)',array('escape'=>false)); ?>
        
                        </div>
                        <div class="SlideItMoo_element">
                                <?php echo $this->Html->link($this->Html->image('templatemo_product_06.png'),'javascript:void(0)',array('escape'=>false)); ?>
        
                        </div>
                        <div class="SlideItMoo_element">
                                <?php echo $this->Html->link($this->Html->image('templatemo_product_06.png'),'javascript:void(0)',array('escape'=>false)); ?>
        
                        </div>
                        <div class="SlideItMoo_element">
                               <?php echo $this->Html->link($this->Html->image('templatemo_product_07.png'),'javascript:void(0)',array('escape'=>false)); ?>
                        </div>
                        <div class="SlideItMoo_element">
                                <?php echo $this->Html->link($this->Html->image('templatemo_product_08.png'),'javascript:void(0)',array('escape'=>false)); ?>
                        </div>
                    </div>			
                </div>
            </div>
            
    	</div> <!-- end of latest_content_gallery -->
        
        <div class="content_section">
        
        	<h2>Welcome to Pink Shop</h2>
            
            <p><a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a> are provided by <a href="http://www.templatemo.com" target="_parent">templatemo.com</a> for everyone. Feel free to use this template for your websites. Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos used in this template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam vitae ipsum vulputate varius vitae semper nunc. Quisque eget elit quis augue pharetra feugiat.</p>
      </div>
        
        <div class="content_section">
        
        	<h2>Our Products</h2>
			
			<?php 
		if (!empty($products)){
			foreach($products as $value)
			{
			//pr($value);die();
			    ?>
                    
                    <div class="product_box margin_r35">
                    
	                    <h3>Phasellus eget lorem</h3>
    
                      <div class="image_wrapper"> <?php echo $this->Html->image('PRODUCT/' . $value['Product']['product_image'],array('width'=>190,'height'=>108)); ?> </div>
                        
                      <p class="price"><?php echo $value['Product']['product_price']; ?></p>
                        <?php echo $this->Html->link('Detail','#',array('escape'=>false)); ?> | <?php echo $this->Html->link('Buy Now','#',array('escape'=>false)); ?>
    
                    </div>
                    
                    
                    
                   
                    
<?php
}

}
?>                    
                    <div class="cleaner"></div>
                    
                    <div class="button_01">
					<?php echo $this->Html->link('View All','#',array('escape'=>false)); ?>
					</div>
        
        </div>
    
